.container {
    border-width: 1px;
    border-color: #cecece;
    border-style: solid;
    border-radius: 8px;
    align-items: center;
    column-gap: 16px;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-right: 10px;
    box-shadow: 0 4px 4px #eeeeee;
}

.name {
    font-weight: bold;
    color: var(--col-secondary)
}


.apiKey {
    display: flex;
    margin-top: 8px;
    column-gap: 16px;
    justify-content: space-between;
}

.copyKey {
    border-style: solid;
    border-color: var(--col-primary);
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--col-primary);
}

.createdBy {
    color: #777777;
    font-size: 0.75rem;
    margin-top: 12px;
}