.title {
  display: flex;
}

.date {
  align-self: flex-end;
  transform: translateY(-5px);
  margin-left: 10px;
  color: #666666;
  font-weight: bold;
}

.metric {
    
}

.total {
  color: #666666;
}

.success {
  color: #1fc457;
}

.failed {
  color: #db5252;
}

.value {
  font-size: 2.5rem;
}
