:root {
  --col-primary: #ffbe3c;
  --col-secondary: #007171;
  --col-text: #333f48;

  --z-alert: 100;
  --z-modal: 99;
  --z-context: 98;
  --z-tooltip: 97;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
div {
  color: var(--col-text);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
